body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-bottom: 40px;
    padding-bottom:50px;
    
}
#searchData{
    background-color: #fff;
    width: 50%;
    max-width: 300px;
    height:fit-content;
    margin: 0 auto;
    padding: 5px;
   right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#editBtn{
    width: 100px;
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
h1 {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:normal;
}

form {
    background-color: #fff;
    width: 50%;
    max-width: 300px;
    height:fit-content;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
input[type="number"] {
    width: 200px;
    padding: 3px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing:content-box;
}

button[type="submit"] {
    width: 100px;
    padding: 10px 15px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: rgb(8, 57, 8);
}
